* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* INICIO HEADER INICIO */

.contenedor_inicio {
    margin: 0;
    padding: 0;
    background-image: url(../assets/s1.jpg);
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 25vh 60vh 15vh;
    grid-template-areas:    "nav        header"
                            "main        main"
                            "footer     footer";
}

.nav_bar {
    margin: 10px;
    padding: 10px;
}

.navbar_oculto {
    list-style-type: none;
    grid-area: nav;
}

.navbar_oculto li a {
    color: black;
    text-decoration: none;
    font-size: 13px;
}

.header {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    grid-area: header;
}

.menu {
    width: 100%;
    margin: 10px;
    padding: 10px;
    display: flex;
}

.logo {
    grid-area: header;
    width: 45%;
}

.logo h1 a {
    text-decoration: none;
    color: white;
}

.nav {
    width: 55%;
    grid-area: header;
    display: flex;
    justify-content: end;
}

.navegacion_visible {
    margin: 5px 20px 0 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.navegacion_visible li a {
    text-decoration: none;
    font-size: 13px;
    color: white;
    padding: 15px;
}

/* FIN HEADER INICIO */

/* INICIO MAIN INICIO */

.contenido {
    margin: 0;
    padding: 0;
    grid-area: main;
}

.contenido_imagen {
    width: 100%;
    margin: 0;
    padding: 340px 0 0;
}

.nav_imagen {
    list-style-type: none;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav_imagen li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

/* FIN MAIN INICIO */

/* INICIO FOOTER INICIO */

.footer {
    margin: 0;
    padding: 0;
    grid-area: footer;
}

.footer_inicio {
    margin: 0;
    padding: 45px 115px 0;
    font-size: 11px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.redes {
    margin: 10px;
    padding: 10px 35px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.redes li a {
    padding: 0 5px;
    color: white;
    text-decoration: none;
}

.web {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: end;
}

/* FIN FOOTER INICIO */

/* INICIO HEADER PAGES */

.contenedor_pages {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 25vh 60vh 15vh;
    grid-template-areas: "nav        header"
        "main        main"
        "footer     footer";
}

.navbar_pages {
    margin: 10px;
    padding: 10px;
}

.logo_pages {
    width: 40%;
    grid-area: header;
}

.logo_pages h1 a {
    text-decoration: none;
    color: black;
}

.nav_pages {
    width: 75%;
    grid-area: header;
    display: flex;
    justify-content: end;
}

.navegacion_pages {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.navegacion_pages li a {
    text-decoration: none;
    font-size: 13px;
    color: black;
    padding: 5px;
}

/* FIN HEADER PAGES */

/* INICIO FOOTER PAGES */

.footer_pages {
    margin: 0px;
    padding: 45px 115px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.copy {
    margin: 10px;
    padding: 0px 40px;
    width: 40%;
    font-size: 11px;
}

.web_pages {
    margin: 10px;
    padding: 0 10px;
    width: 30%;
    font-size: 11px;
    display: flex;
    justify-content: end;
}

/* FIN FOOTER PAGES */

/* INICIO MAIN BUSCAR */

.main_buscar {
    grid-area: main;
}

.contenedor_buscar {
    margin: 0;
    padding: 0;
    width: 100%;
}

.formulario_buscar {
    margin: 10px 0;
    padding: 0 0 382px 137px;
}

#buscar, input {
    border: none;
    border-bottom: 1px solid black;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    padding: 0 0 5px;
    width: 100%;
}

/* FIN MAIN BUSCAR */

@media screen and (min-width: 1400px) {

    .contenedor_inicio {
        display: grid;
        grid-template-columns: 8% 92%;
        grid-template-rows: 25vh 60vh 15vh;
        grid-template-areas:    "nav        header"
                                "main        main"
                                "footer     footer";
    }

    .footer_inicio{
        padding: 65px 85px 0;
    }

    .contenido_imagen {
        padding-top: 430px;
    }
} 

@media screen and (min-width: 1920px) {

    .contenedor_inicio {
        grid-template-columns: 7% 93%;
    }

    .logo h1 {
        font-size: 40px;
    }

        .navbar_oculto li a {
            font-size: 15px;
        }

    .navegacion_visible li a {
        font-size: 15px;
    }

    .contenido_imagen {
        padding-top: 465px;
    }

    .nav_imagen li a {
        font-size: 15px;
    }

    .footer_inicio {
        padding: 80px 110px 0;
    }
}

@media screen and (max-width: 1200px) {

    .redes {
        padding: 10px 0px;
    }

    .footer_inicio {
        padding: 45px 129px 0;
    }
}

@media screen and (max-width: 992px) {

    .navbar_oculto li a {
        color: white;
    }

    .footer_inicio {
        padding: 45px 105px 0;
    }
}


@media screen and (max-width: 768px) {

    .footer_inicio {
        padding: 45px 85px 0;
    }

}

@media screen and (max-width: 576px) {

    .contenedor_inicio {
        background-image: url(../assets/A.jpg);
        grid-template-columns: 20% 80%;
    }

    .logo {
        width: 50%;
    }

    .nav_ {
        width: 50%;
    }

    .footer {
        display: flex;
        justify-content: center;
    }

    .web {
        display: none;
    }

    .navegacion_visible {
        margin-right: 0;
        display: flex;
        flex-direction: column;
    }

    .navegacion_visible li a {
        padding-right: 5px;
    }

    .sesion {
        display: none;
    }

    .contacto {
        display: none;
    }

    .carrito {
        padding-left: 30px;
        order: -1;
        padding-bottom: 10px;
    }

}

@media screen and (max-width: 480px) {

    .logo {
        width: 60%;
    }

    .logo h1 {
        font-size: 25px;
    }

    .nav {
        width: 40%;
    }

    .contenido_imagen {
        width: 100vw;
    }
}

@media screen and (max-width: 375px) {

    .contenedor_inicio {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 35vh 65vh;
        grid-template-areas:    "nav        header"
                                "main        main";
    }

    .menu {
        padding-left: 0;
    }

    .logo h1 {
        font-size: 20px;
    }

    .footer {
        display: none;
    }

    .nav_imagen {
        display: none;
    }
}

