@mixin margin_y_padding ($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

@mixin margin_padding {
    margin: 0;
    padding: 0;
}

@mixin contenedor_grid ($columnas, $filas, $area, $width, $font_family) {
    display: grid;
    grid-template-columns: $columnas;
    grid-template-rows: $filas;
    grid-template-areas: $area;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}