.nav {
    width: 55%;
    grid-area: header;
    display: flex;
    justify-content: flex-end;
}

.contenedor_registrate {
    @include margin_y_padding (10px, 5px);
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.info_carrito {
    font-size: map-get($font_tamano, uno);
    display: flex;
    justify-content: center;
    margin-bottom: 184px;
}

.contenedor_pedido {
    @include margin_y_padding (10px, 5px);
    width: 30%;
    display: flex;
    flex-direction: column;
}