.contenedor_inicio {
    @include margin_padding;
    background-image: url(../assets/s1.jpg);
    background-size: cover;
    @include contenedor_grid ( 5% 95%, 25vh 60vh 15vh, "nav     header"   "main     main"    "footer    footer", $width, $font_family);
}

.contenedor_pages {
    @include margin_padding;
    @include contenedor_grid ( 5% 95%, 25vh 60vh 15vh, "nav     header"   "main     main"    "footer    footer", $width, $font_family);
}

.main_buscar {
    grid-area: main;
}

.main_sesion {
    grid-area: main;
}

.main_contacto {
    grid-area: main;
}

.main_carrito {
    grid-area: main;
}

.contenedor_new {
    @include margin_padding;
    @include contenedor_grid ( 5% 95%, 25vh, "nav     header", $width, $font_family);
}

.new_footer {
    @include margin_padding;
    @include contenedor_grid ( 100%, 15vh, "footer     footer", $width, $font_family);
}
