.contenedor_inicio {
    margin: 0;
    padding: 0;
    background-image: url(../assets/s1.jpg);
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-rows: 25vh 60vh 15vh;
    grid-template-areas:    "nav        header"
                            "main        main"
                            "footer     footer";
}

.contenedor_pages {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-rows: 25vh 60vh 15vh;
    grid-template-areas:    "nav        header"
                            "main        main"
                            "footer     footer";
}

.main_buscar {
    grid-area: main;
}

.main_sesion {
    grid-area: main;
}

.main_contacto {
    grid-area: main;
}


.main_carrito {
    grid-area: main;
}

.contenedor_new {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    display: grid;
    grid-template-columns: 5% 95%;
    grid-template-rows: 25vh;
    grid-template-areas: "nav        header";
}


.new_footer {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15vh;
    grid-template-areas: "footer     footer";
}
