.contenedor_inicio {
    @include margin_padding;
    background-image: url(../assets/img/s11.jpg);
    background-size: cover;
    @include contenedor_grid (5% 95%, 25vh 60vh 15vh, "nav     header" "main     main" "footer    footer", 100%);
    font-family: 'Roboto Condensed', sans-serif;
}

.contenedor_pages {
    @include margin_padding;
    @include contenedor_grid ( 5% 95%, 25vh 60vh 15vh,"nav     header" "main     main" "footer    footer", 100%);
    font-family: 'Roboto Condensed', sans-serif;
}

.main_buscar {
    grid-area: main;
}

.main_sesion {
    grid-area: main;
}

.main_contacto {
    grid-area: main;
}

.main_carrito {
    grid-area: main;
}

.contenedor_new {
    @include margin_padding;
    @include contenedor_grid ( 5% 95%, 25vh, "nav     header", 100%);
    font-family: 'Roboto Condensed', sans-serif;
}


