.btn_menu {
    color: map-get($colores_pagina, secundario );
    @include margin_y_padding ( 10px 10px 10px 30px, 15px)
}

#btn-menu {
    display: none;
}

#btn-menu:checked~.nav_bar {
    opacity: 1;
    visibility: visible;

    .navbar_oculto {
        transform: translateX(0%);
    }
}

.btn_pages {
    @extend .btn_menu;
    color: map-get($colores_pagina, primario)
}

#btn-menu:checked~.navbar_pages {
    opacity: 1;
    visibility: visible;

    .navbar_oculto {
        transform: translateX(0%);
    }
}

.boton {
    padding: 5px;

    a {
        text-decoration: none;
        color: map-get($colores_pagina, secundario);
        background-color: map-get($colores_pagina, primario);
        padding: 5px 90px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: map-get($font_tamano, tres);
        transition: .2s;

        &:hover {
            background-color: map-get($colores_pagina, secundario);
            color: map-get($colores_pagina, primario);
            border: 1px solid $negro;
        }
    }
}

.boton_iniciar {
    margin-top: 20px;
    border: none;
}

.cuenta {
    @extend .boton;
}

.boton_cuenta {
    border: none;
}

.boton_enviar {
    text-decoration: none;
    color: map-get($colores_pagina, secundario);
    background-color:  map-get($colores_pagina, primario);
    padding: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: map-get($font_tamano, tres);
    transition: .2s;
    width: 25%;
}

input:hover {
    background-color: map-get($colores_pagina, secundario);
    color: map-get($colores_pagina, primario);
    border: 1px solid $negro;
}

.boton_favorito {
    @extend .boton;
    padding: 0;
}