
.header {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    grid-area: header;
}

.menu {
    width: 100%;
    margin: 10px;
    padding: 10px;
    display: flex;
}

.logo {
    grid-area: header;
    width: 45%;

    h1 {
        a {
            text-decoration: none;
            color: white;
            position: absolute;
            font-weight: 700;
            font-size: 35px;
        }
    }
}

.navegacion_visible {
    margin: 5px 20px 0 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;

    li {
        a {
            text-decoration: none;
            font-size: 13px;
            color: white;
            padding: 15px;
        }
    }
}


.logo_pages {
    width: 40%;
    grid-area: header;

    h1 {
        a {
            text-decoration: none;
            color: black;
            position: absolute;
            font-weight: 700;
            font-size: 35px;
        }
    }
}

.nav_pages {
    width: 75%;
    grid-area: header;
    display: flex;
    justify-content: end;
}

.navegacion_pages {
    margin: 5px 20px 0 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;

    li {
        a {
            text-decoration: none;
            font-size: 13px;
            color: black;
            padding: 15px;
        }
    }
}
