/* VISTA DESKTOP */

@media screen and (max-width: 992px) {
    .contenedor_inicio {
        grid-template-columns: 8% 92%;

        .redes {
            padding-left: 85px;
        }

        .web {
            padding-right: 130px;
        }

        .contenido_imagen {
            padding-top: 300px;
        }
    }

    .contenedor_pages {
        grid-template-columns: 8% 92%;

        .copy {
            padding-left: 90px;
        }

        .web_pages {
            width: 40%;
        }

        .formulario {
            padding-left: 80px;

            &_buscar {
                padding: 0 0 360px 100px;
            }
        }

        .contenedor_iniciar {
            width: 43%;
        }

        .contenedor_registrate {

            .registrate {
                padding-bottom: 24px;
            }
        }

        .contenedor_registrate {
            width: 35%;
        }

        .formulario_contacto {
            margin: 0 15px 10px;
            padding: 0 80px 0 80px;

            #nombre,
            input:focus {
                width: 35%;
            }

            #mail,
            input:focus {
                width: 35%;
            }

            #telefono,
            input:focus {
                width: 35%;
            }

            #message,
            input:focus {
                width: 35%;
            }

            .boton_enviar {
                width: 35%;
            }
        }

        .carrito_pages {
            padding-left: 100px;
        }

        .info_carrito {
            margin-bottom: 170px;
        }

        .carrito_favoritos {
            padding-left: 100px;
        }

        .contenedor_favoritos {
            margin-bottom: 280px;
            width: 39%;
            padding-left: 100px;
        }

        .envio {
            padding: 0 80px;

            .contenedor_envio {
                width: 45%;
            }

            .contenedor_pedido {
                width: 43%;
            }

            .contenedor_cambios {
                width: 45%;
            }
        }
    }

    .img {
        width: 400px;
    }

    .galeria {
        padding-right: 0;

        &_video {
            padding-right: 0;
        }
    }

    .contenedor_new {
        grid-template-columns: 8% 92%;
    }

    .new_footer {

        .copy {
            padding-left: 90px;
        }

        .web_pages {
            width: 40%;
        }
    }
}


/* VISTA TABLET */

@media screen and (max-width: 768px) {

    .contenedor_inicio {
        grid-template-columns: 10% 90%;

        .contenido_imagen {
            padding-top: 300px;
        }

        .footer_inicio {
            padding-top: 45px;

            .redes {
                padding-left: 82px;
            }

            .web {
                padding-right: 60px;
            }
        }
    }

    .contenedor_pages {
        grid-template-columns: 10% 90%;
        grid-template-rows: 20vh auto 15vh;

        .footer_pages {
            padding: 45px 10px 0;

            .copy {
                padding-left: 77px;
            }

            .web_pages {
                padding-right: 60px;
                width: 40%;
            }
        }

        .formulario {
            padding: 80px 78px;
            margin-bottom: 8px;


            &_buscar {
                padding: 45px 0 310px 97px;
            }

            &_contacto {
                padding: 11px 79px;
                margin-bottom: 5px;
            }
        }

        .contenedor_iniciar {
            width: 49%;

            #email {
                width: 95%;
            }

            #contraseña {
                width: 95%;
            }
        }

        .contenedor_registrate {
            width: 49%;

            .registrate {
                padding-bottom: 38px;
            }
        }

        .form_form {
            width: 80%;

            #nombre,
            input:focus {
                width: 55%;
            }

            #mail,
            input:focus {
                width: 55%;
            }

            #telefono,
            input:focus {
                width: 55%;
            }

            #message,
            input:focus {
                width: 55%;
            }

            .boton_enviar {
                width: 55%;
            }
        }

        .carrito_pages {
            padding-left: 98px;
            margin: 35px 0 175px 0;
        }

        .info_carrito {
            margin-bottom: 160px;
        }

        .carrito_favoritos {
            padding-left: 97px;
            margin-top: 35px;
        }

        .contenedor_favoritos {
            margin-bottom: 261px;
            padding-left: 97px;
            width: 48%;
        }

        .envio {
            margin-bottom: 0;

            .contenedor_envio {
                margin-bottom: 0;

                .info_envio {
                    padding: 5px 5px 0;
                }
            }

            .contenedor_cambios {
                margin-bottom: 141px;
                width: 57%;
            }
        }
    }

    .contenedor_new {
        grid-template-columns: 10% 90%;
    }

    .galeria {
        padding-right: 20px;

        &_video {
            padding-right: 20px;
        }
    }


    .new_footer {
        padding: 45px 0 0 10px;

        .footer_pages {
            padding: 45px 10px 0;

            .copy {
                padding-left: 67px;
            }

            .web_pages {
                padding-right: 60px;
                width: 40%;
            }
        }
    }
}

/* VISTA MOBILE */

@media screen and (max-width: 576px) {

    .contenedor_inicio {
        background-image: url(../assets/img/A.jpg);
        grid-template-columns: 13% 87%;

        .navbar_oculto {
            max-width: 100%;

            .oculto {
                padding: 150px 50px 0 0;
                display: flex;
                justify-content: space-between;
            }
        }

        .logo {
            width: 50%;
        }

        .nav {
            width: 50%;

            .navegacion_visible {
                display: flex;
                flex-direction: column;

                li {
                    a {
                        padding-right: 5px;
                    }
                }

                .sesion {
                    display: none;
                }

                .contacto {
                    display: none;
                }

                .carrito {
                    padding-left: 30px;
                    order: -1;
                    padding-bottom: 27px;
                }

            }
        }

        .contenido_imagen {
            padding-top: 330px;
        }

        .footer {

            display: flex;
            justify-content: center;

            .redes {
                padding-left: 0;
            }

            .web {
                display: none;
            }
        }
    }

    .contenedor_pages {
        grid-template-columns: 13% 87%;

        .navbar_oculto {
            max-width: 100%;

            .oculto {
                padding: 150px 50px 0 0;
                display: flex;
                justify-content: space-between;
            }
        }

        .logo_pages {
            width: 50%;
        }

        .nav_pages {
            width: 50%;

            .navegacion_pages {
                display: flex;
                flex-direction: column;

                li {
                    a {
                        padding-right: 5px;
                    }
                }

                .sesion {
                    display: none;
                }

                .contacto {
                    display: none;
                }

                .carrito {
                    padding-left: 30px;
                    order: -1;
                    padding-bottom: 27px;
                }

            }
        }

        .formulario_buscar {
            padding: 70px 0 285px 97px;
        }

        .formulario {
            display: flex;
            justify-content: center;
            padding-top: 60px;
            margin-bottom: 28px;

            .contenedor_iniciar {
                width: 68%;
            }
        }

        .contenedor_registrate {
            display: none;
        }

        .formulario_contacto {
            display: flex;
            justify-content: center;
            padding: 15px 40px 10px 100px;

            .form_form {
                width: 90%;

                #nombre,
                input:focus {
                    width: 80%;
                }

                #mail,
                input:focus {
                    width: 80%;
                }

                #telefono,
                input:focus {
                    width: 80%;
                }

                #message,
                input:focus {
                    width: 80%;
                }

                .boton_enviar {
                    width: 80%;
                }
            }
        }

        .carrito_pages {
            padding-left: 218px;
            margin: 45px 0 165px;
        }

        .carrito_favoritos {
            padding-left: 218px;
            margin-top: 45px;
        }

        .contenedor_favoritos {
            width: 74%;
            padding-left: 158px;
            margin-bottom: 252px;
        }

        .envio {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 75px;

            .contenedor_envio {
                width: 95%;
            }

            .contenedor_pedido {
                width: 95%;
                padding-bottom: 10px;
            }

            .contenedor_cambios {
                width: 75%;
                margin-bottom: 101px;
            }
        }

        .footer_pages {
            padding: 0 95px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .copy {
                padding-left: 95px;
                width: 100%;
            }

            .web_pages {
                padding-right: 105px;
                width: 100%;
            }
        }
    }

    .contenedor_new {
        grid-template-columns: 13% 87%;

        .navbar_oculto {
            max-width: 100%;

            .oculto {
                padding: 150px 50px 0 0;
                display: flex;
                justify-content: space-between;
            }
        }

        .logo_pages {
            width: 50%;
        }

        .nav_pages {
            width: 50%;

            .navegacion_pages {
                display: flex;
                flex-direction: column;

                li {
                    a {
                        padding-right: 5px;
                    }
                }

                .sesion {
                    display: none;
                }

                .contacto {
                    display: none;
                }

                .carrito {
                    padding-left: 30px;
                    order: -1;
                    padding-bottom: 22px;
                }
            }
        }
    }

    .new_footer {

        .footer_pages {
            padding: 0 95px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .copy {
                margin: 10px 10px 0 10px;
                padding-left: 87px;
                width: 100%;
            }

            .web_pages {
                margin: 0 10px 10px 10px;
                padding-right: 105px;
                width: 100%;
            }
        }
    }
}

/* VISTA MOBILE */

@media screen and (max-width: 480px) {

    .contenedor_inicio {
        grid-template-columns: 15% 85%;

        .btn_menu {
            padding: 15px 0;

            .nav_bar {

                .navbar_oculto {
                    padding: 180px 0 0 35px;
                }

                .cerrar {
                    padding: 15px 0;
                }
            }
        }

        .header {

            .navegacion_visible {
                margin-right: 4px;

                .carrito {
                    padding-left: 26px;
                    padding-bottom: 29px;
                }
            }
        }

        .footer {
            display: none;
        }
    }

    .contenedor_pages {
        grid-template-columns: 15% 85%;

        .btn_pages {
            padding: 15px 0;

            .nav_bar {

                .navbar_oculto {
                    padding: 180px 0 0 35px;
                }

                .cerrar {
                    padding: 15px 0;
                }
            }
        }

        .header {

            .navegacion_pages {
                margin-right: 4px;

                .carrito {
                    padding-left: 26px;
                    padding-bottom: 29px;
                }
            }
        }

        .footer_pages {
            padding: 0;

            .copy {
                width: 90%;
                padding-left: 142px;
            }

            .web_pages {
                width: 90%;
                padding-right: 105px;
            }
        }

        .formulario_buscar {
            padding-left: 92px;
        }

        .carrito_pages {
            padding-left: 170px;
        }

        .contenedor_carrito {

            .carrito_favoritos {
                padding-left: 170px;
            }

            .info_carrito {
                margin-bottom: 160px;
                padding-right: 5px;
            }

            .contenedor_favoritos {
                width: 78%;
                padding-left: 110px;
            }
        }

        .formulario {
            padding: 50px 25px;
            margin-bottom: 68px;
        }

        .contenedor_contacto {

            .formulario_contacto {
                padding: 21px 0 0 75px;
            }
        }

        .envio {
            padding-left: 74px;

            .contenedor_cambios {
                width: 95%;
            }
        }
    }

    .contenedor_new {

        grid-template-columns: 15% 85%;

        .btn_pages {
            padding: 15px 0;

            .nav_bar {

                .navbar_oculto {
                    padding: 180px 0 0 35px;
                }

                .cerrar {
                    padding: 15px 0;
                }
            }
        }

        .header {

            .navegacion_pages {
                margin-right: 4px;

                .carrito {
                    padding-left: 26px;
                    padding-bottom: 21px;
                }
            }
        }
    }

    .video {
        width: 250px;
    }

    .img {
        width: 250px;
    }

    .new_footer {

        .footer_pages {
            padding: 0;

            .copy {
                width: 90%;
                padding-left: 132px;
            }

            .web_pages {
                width: 90%;
                padding-right: 109px;
            }
        }
    }
}

/* VISTA MOBILE */

@media screen and (max-width: 400px) {
    .contenedor_pages {

        .footer_pages {

            .copy {
                padding-left: 101px;
            }

            .web_pages {
                padding-right: 74px;
            }
        }

        .formulario_buscar {
            padding-left: 79px;
        }

        .carrito_pages {
            padding-left: 132px;
        }

        .contenedor_carrito {

            .carrito_favoritos {
                padding-left: 132px;
            }

            .info_carrito {
                margin-bottom: 160px;
                padding-right: 5px;
            }

            .contenedor_favoritos {
                width: 85%;
                padding-left: 71px;
            }
        }

        .formulario {
            .contenedor_iniciar {
                width: 82%
            }
        }

        .contenedor_contacto {

            .formulario_contacto {
                padding: 21px 0 0 45px;
            }
        }

        .envio {
            padding-left: 60px;

            .contenedor_cambios {
                width: 102%;
                margin-bottom: 72px;
            }
        }
    }

    .new_footer {

        .footer_pages {

            .copy {
                padding-left: 92px;
            }

            .web_pages {
                padding-right: 74px;
            }
        }
    }
}

/* VISTA MOBILE */

@media screen and (max-width: 320px) {
    .contenedor_inicio {

        .logo {
            width: 95%;

            h1 {

                a {
                    font-size: map-get($font_tamano, siete);
                }
            }
        }

        .header {

            .navegacion_visible {

                .carrito {
                    padding-bottom: 14px;
                }
            }
        }
    }

    .contenedor_pages {

        .logo_pages {

            width: 95%;

            h1 {

                a {
                    font-size: map-get($font_tamano, siete);
                }
            }
        }

        .header {

            .navegacion_pages {

                .carrito {
                    padding-bottom: 11px;
                }
            }
        }

        .footer_pages {

            .copy {
                padding-left: 64px;
            }

            .web_pages {
                padding-right: 40px;
            }
        }

        .formulario_buscar {
            padding-left: 68px;
        }

        .carrito_pages {
            padding-left: 88px;
        }

        .contenedor_carrito {

            .carrito_favoritos {
                padding-left: 99px;
            }

            .contenedor_favoritos {
                width: 93%;
                padding-left: 30px;
            }
        }

        .formulario {
            padding: 50px 5px;

            .contenedor_iniciar {
                width: 92%;
            }
        }

        .contenedor_contacto {

            .formulario_contacto {
                padding: 20px 0 0 35px;

                .form_form {
                    width: 100%;
                }
            }
        }

        .envio {
            padding-left: 49px;

            .contenedor_cambios {
                width: 114%;
                margin-bottom: 4px;
            }
        }
    }

    .contenedor_new {

        .btn_pages {
            padding-top: 10px;
        }

        .logo_pages {

            width: 95%;

            h1 {
                a {
                    font-size: map-get($font_tamano, siete);
                }
            }
        }

        .header {

            .navegacion_pages {
                margin: 0 4px 0 0;

                .carrito {
                    padding-bottom: 11px;
                }
            }
        }
    }

    .new_footer {

        .footer_pages {
            .copy {
                padding-left: 54px;
            }

            .web_pages {
                padding-right: 39px;
            }
        }
    }
}