@media screen and (max-width: 992px) {
    .contenedor_inicio {
        grid-template-columns: 8% 92%;

        .redes {
            padding-left: 85px;
        }

        .web {
            padding-right: 130px;
        }

    }

    .contenedor_pages {
        grid-template-columns: 8% 92%;

        .copy {
            padding-left: 90px;
        }

        .web_pages {
            width: 40%;
        }

        .formulario {
            padding-left: 80px;

            &_buscar {
                padding: 0 0 360px 100px;
            }
        }

        .contenedor_iniciar {
            width: 43%;
        }

        .contenedor_registrate {
            width: 35%;
        }

        .formulario_contacto {
            margin: 0 15px 10px;
            padding: 0 80px 0 80px;

            #nombre,
            input:focus {
                width: 35%;
            }

            #mail,
            input:focus {
                width: 35%;
            }

            #telefono,
            input:focus {
                width: 35%;
            }

            #message,
            input:focus {
                width: 35%;
            }

            .boton_enviar {
                width: 35%;
            }
        }

        .carrito_pages {
            padding-left: 100px;
        }

        .info_carrito {
            margin-bottom: 170px;
        }

        .contenedor_favoritos {
            margin-bottom: 280px;
            width: 39%
        }

        .envio {
            padding: 0 77px 0 77px;

            .contenedor_envio {
                width: 45%;
            }

            .contenedor_cambios {
                width: 45%;
            }
        }

        .contenedor_pedido {
            width: 43%;
        }
    }


    .img {
        width: 400px;
    }

    .galeria {
        padding-right: 0;

        &_video {
            padding-right: 0;
        }
    }

    .contenedor_new {
        grid-template-columns: 8% 92%;
    }

    .new_footer {

        .web_pages {
            width: 40%;
        }
    }
}


/* VISTA TABLET */

@media screen and (max-width: 768px) {

    .contenedor_inicio {
        grid-template-columns: 10% 90%;

        .contenido_imagen {
            padding-top: 300px;
        }

        .footer_inicio {
            padding-top: 45px;

            .redes {
                padding-left: 82px;
            }

            .web {
                padding-right: 60px;
            }
        }
    }

    .contenedor_pages {
        grid-template-columns: 10% 90%;

        .footer_pages {
            padding: 45px 10px 0;

            .copy {
                padding-left: 77px;
            }

            .web_pages {
                padding-right: 60px;
                width: 40%;
            }
        }

        .formulario {
            padding-left: 80px;

            &_buscar {
                padding-left: 97px;
            }
        }

        .contenedor_iniciar {
            width: 49%;

            #email {
                width: 95%;
            }

            #contraseña {
                width: 95%;
            }
        }

        .contenedor_registrate {
            width: 49%;
        }

        .formulario_contacto {
            padding-left: 79px;
        }

        .form_form {
            width: 80%;

            #nombre,
            input:focus {
                width: 55%;
            }

            #mail,
            input:focus {
                width: 55%;
            }

            #telefono,
            input:focus {
                width: 55%;
            }

            #message,
            input:focus {
                width: 55%;
            }

            .boton_enviar {
                width: 55%;
            }
        }

        .carrito_pages {
            padding-left: 98px;
        }

        .carrito_favoritos {
            padding-left: 97px;
        }

        .contenedor_favoritos {
            padding-left: 97px;
            width: 48%
        }

        .envio {

            .contenedor_cambios {
                width: 57%;
            }
        }
    }

    .contenedor_new {
        grid-template-columns: 10% 90%;
    }

    .new_footer {
        padding: 45px 0 0 10px;

        .footer_pages {
            padding: 45px 10px 0;

            .copy {
                padding-left: 77px;
            }

            .web_pages {
                padding-right: 60px;
                width: 40%;
            }
        }
    }
}

/* VISTA MOBILE */

@media screen and (max-width: 576px) {

    .contenedor_inicio {
        background-image: url(../assets/A.jpg);
        grid-template-columns: 13% 87%;

        .navbar_oculto {
            max-width: 100%;

            .oculto {
                padding: 150px 50px 0 0;
                display: flex;
                justify-content: space-between;

                li {
                    a {
                        font-size: map-get($font_tamano, cinco);
                    }
                }
            }
        }

        .logo {
            width: 50%;
        }

        .nav {
            width: 50%;

            .navegacion_visible {
                display: flex;
                flex-direction: column;

                li {
                    a {
                        padding-right: 5px;
                    }
                }

                .sesion {
                    display: none;
                }

                .contacto {
                    display: none;
                }

                .carrito {
                    padding-left: 30px;
                    order: -1;
                    padding-bottom: 27px;
                }

            }
        }

        .contenido_imagen {
            padding-top: 330px;
        }

        .footer {

            display: flex;
            justify-content: center;

            .redes {
                padding-left: 0;
            }

            .web {
                display: none;
            }
        }
    }

    .contenedor_pages {
        grid-template-columns: 13% 87%;

        .navbar_oculto {
            max-width: 100%;

            .oculto {
                padding: 150px 50px 0 0;
                display: flex;
                justify-content: space-between;

                li {
                    a {
                        font-size: map-get($font_tamano, cinco);
                    }
                }
            }
        }

        .logo_pages {
            width: 50%;
        }

        .nav_pages {
            width: 50%;

            .navegacion_pages {
                display: flex;
                flex-direction: column;

                li {
                    a {
                        padding-right: 5px;
                    }
                }

                .sesion {
                    display: none;
                }

                .contacto {
                    display: none;
                }

                .carrito {
                    padding-left: 30px;
                    order: -1;
                    padding-bottom: 27px;
                }

            }
        }

        .formulario {
            display: flex;
            justify-content: center;

            .contenedor_iniciar {
                width: 67%;
            }
        }

        .contenedor_registrate {
            display: none;
        }

        .formulario_contacto {
            display: flex;
            justify-content: center;

            .form_form {
                width: 90%;

                #nombre,
                input:focus {
                    width: 80%;
                }

                #mail,
                input:focus {
                    width: 80%;
                }

                #telefono,
                input:focus {
                    width: 80%;
                }

                #message,
                input:focus {
                    width: 80%;
                }

                .boton_enviar {
                    width: 80%;
                }
            }
        }

        .contenedor_favoritos {
            width: 65%
        }

        .envio {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .contenedor_envio {
                width: 95%;
            }

            .contenedor_pedido {
                width: 95%;
            }
        }

        .footer_pages {
            padding: 0 95px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .copy {
                padding-left: 87px;
                width: 100%;
            }

            .web_pages {
                padding-right: 113px;
                width: 100%;
            }
        }
    }

    .contenedor_new {
        grid-template-columns: 13% 87%;

        .navbar_oculto {
            max-width: 100%;

            .oculto {
                padding: 150px 50px 0 0;
                display: flex;
                justify-content: space-between;

                li {
                    a {
                        font-size: map-get($font_tamano, cinco);
                    }
                }
            }
        }

        .logo_pages {
            width: 50%;
        }

        .nav_pages {
            width: 50%;

            .navegacion_pages {
                display: flex;
                flex-direction: column;

                li {
                    a {
                        padding-right: 5px;
                    }
                }

                .sesion {
                    display: none;
                }

                .contacto {
                    display: none;
                }

                .carrito {
                    padding-left: 30px;
                    order: -1;
                    padding-bottom: 27px;
                }
            }
        }
    }

    .new_footer {

        .footer_pages {
            padding: 0 95px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .copy {
                padding-left: 87px;
                width: 100%;
            }

            .web_pages {
                padding-right: 105px;
                width: 100%;
            }
        }
    }
}